# IntelliJ IDEA project files
.idea/
*.iws
*.iml
*.ipr

# Specific files to ignore
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/libraries/
.idea/shelf/
.idea/modules.xml
.idea/.name
.idea/misc.xml
.idea/compiler.xml

# VCS-specific files
.idea/vcs.xml

# Build output
/out/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Temporary files
tmp/
*.tmp
*.swp
